

p {
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Nunito', sans-serif;
}

.near-category-budget {
    color: orange;
}
.over-category-budget {
    color: red;
    font-weight: bold;
}

.appPurpose{
text-align: center;
}
.remainingBudget{
  font-size: 18px;
  margin: 5px;
  margin-top: 10px;
}

h2{
  margin: auto;
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-family: 'Nunito', sans-serif;
}
.welcome-copy{
  font-size: 14px;
}
.gettingStartedContainer{
  text-align: center;
  padding-bottom: 15px;
 }
.gettingStartedGraphic{
  box-shadow: 5px 5px lightgrey;

}

/*Progress Bar Styling*/
#myProgress {
    width: 75%;
    background-color: lightgray;
    align-items: center;
    margin: auto;
    border-radius: 4px;
  }

#myBar {
  transition: width 1s;
  width: 0%;
  height: 20px;
  background-image: linear-gradient(-90deg, red, orange, yellow);
  border-radius: 4px;
}

/*Transaction Input Box*/
#moneySpent{
  width: 42%;
  height: 25px;
  text-align: center;
  border: 2px solid lightgrey;
  border-radius: 4px;
  font-size: 16px;
  margin: 10px;
}
  
/*Container for Category Column and Money Spent Column*/
.container {
    display: flex;
    margin-top: 35px;
    padding: 10px;
}
#displayTransactions {
    display: flex;
}
.column1, #transaction-category {
    flex: 1;
}
.column2 {
  min-width: 100px;
}
/*Category Selector Dropdown Menu*/
#categoryDropdown{
  width: 42%;
  height: 32px;
  margin-left: 8px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  padding: 5px;
}


#budgetContainer{
    width: 100%;
    height: 50px;
    background-color: white;
    border-color: #00A86B;
    border: 5px;
    text-align: center;
}

#budgetDisplay {
    font-size: 300%;
    display: flex;
    justify-content: center;
}

body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
  }
  
.header {
  overflow: hidden;
  background-color: #00A86B;
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 12px;
  height: 50px;
  text-decoration: none;
  font-size: 10px; 
  line-height: 50px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  /* float: none; */
  display: block;
  /* text-align: left; */
}

.header a:hover {
  /* background-color: #ddd; */
  color: black;
}

.links {
  float: right;
  /* float: none; */
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #eeeeee; /* Color*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 36px;
  margin-left: 85px;
}
 /*Container div for everything that shifts to the left when the sidebar opens*/ 
#main {
  transition: margin-right .5s;
  margin: auto;
  font-family: 'Nunito', sans-serif;

}
.inputContainer{
  align-items: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  
}
.userBudget {
  border: 1px solid lightgrey;
  border-radius: 4px;
  width: 90%;
  height: 25px;
  text-align: center;
  margin-bottom: 14px;
  font-size: 14px;

}
input.submit{
  width: 90%;
}
select {
    width: 44%;
    border: none;
    color: black;
    background-color: #eeeeee;
    text-align: center; 
}
.form{
  padding-top: 30px;
  margin-bottom: 30px;
  height: 82px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.submit, #myBtn {
  background-color: #00a86b;
  color: white;
  border-radius: 6px;
  border: none;
  height: 32px;
  width: 92%;
  margin-top: 10px;
  font-size: 16px;
}
/*Alert Cow Styling for budget spent & over budget alerts*/
.alert {
  position: fixed;
  bottom: 0;
  right: 0;
}

#alertCow{
  display: none;
  width: 220px;
  height: 200px;
}

#cashCow{
  display:none;
}
img.biggerCow{
  width: 300px;
  height: 150px; 
}

/*Popup Modal Styling for Welcome Message & Recent Transactions*/

.welcome-message, .transactions {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  
  .welcome-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  .transaction-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.4s;
    animation-name: animatebottom;
    animation-duration: 0.4s
  }
  
  /* Modal Animations */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  @-webkit-keyframes animatebottom {
    from {bottom:-300px; opacity:0} 
    to {bottom:0; opacity:1}
  }
  
  @keyframes animatebottom {
    from {bottom:-300px; opacity:0}
    to {bottom:0; opacity:1}
  }
  
  /* Modal Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .welcome-header, .transactions-header {
    padding: 2px 16px;
    background-color: #00A86B;
    color: white;
  }
  
  .message-body, .displayTransactions {
    padding: 2px 16px;
}

.recent {
  display: flex;
  align-items: center;
  justify-content: center;
}

#myBtn {
  margin-top: 20px;
}
/*For screens 450px wide and wider*/
@media screen and (min-width: 450px){
  .column2 {
    min-width: 125px;
  }
  .alert{
  position: fixed;
  bottom: 0;
  right: 0;}
  
  img.biggerCow{
    width: 388px;
    height: 189px; 
  }
  .submit, #myBtn {
    background-color: #00a86b;
    color: white;
    border-radius: 6px;
    border: none;
    height: 32px;
    width: 36%;
    margin-top: 10px;
    font-size: 16px;
  }
#alertCow{
 
  display:none;
}
#cashCow{

  display:none;
}
.container {
  display: flex;
    margin-top: 35px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    font-size: 20px
}
#moneySpent{
  width: 30%;
  height: 25px;
  text-align: center;
  border: 2px solid lightgrey;
  border-radius: 4px;
  font-size: 16px;
  margin: 10px;
}
#categoryDropdown{
  width: 30%;
  height: 32px;
  margin-left: 8px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
}
#myProgress {
  width: 50%;
  background-color: lightgrey;
  align-items: center;
  margin: auto;
  border-radius: 4px;
}
}
/*For screens with a height of 640px and shorter*/
@media screen and (max-height: 640px){
  img.biggerCow{
    width: 275px;
    height: 135px; 
  }

}
@media screen and (max-height: 570px){
  img.biggerCow{
    width: 158px;
    height: 78px; 
  }

}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;} */